<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Comics per Categoria [[${category.name}]]</title>
    <th:block th:replace="~{ fragments/fragments :: Style}"></th:block>
  </head>
  <body>
    <header th:replace="~{ fragments/fragments :: header}"></header>
    <main class="container">
      <h1>Comics nella categoria: <span th:text="${category.name}"></span></h1>
      <a th:href="@{/categories}" class="btn btn-sm btngen mb-3"
        >Torna alle categorie</a
      >

      <div th:if="${#lists.isEmpty(comics)}">
        <p>Nessun fumetto trovato in questa categoria.</p>
      </div>

      <div class="row" th:if="${!#lists.isEmpty(comics)}">
        <div class="col" th:each="comic : ${comics}">
          <div class="card custom-card my-4">
            <img
              th:src="@{${comic.imageUrl}}"
              th:alt="${comic.title}"
              class="card-img-top custom-card-img"
            />
            <div class="card-body">
              <h5 class="card-title" th:text="${comic.title}"></h5>
              <p class="text-muted mb-2" th:text="${comic.category.name}"></p>
              <p class="card-text" th:text="${comic.description}"></p>
              <p><strong th:text="${comic.price} + ' €'"></strong></p>
              <a th:href="@{'/comics/' + ${comic.id}}" class="btn btngen btn-sm"
                >Dettaglio</a
              >
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
    <th:block th:replace="~{ fragments/fragments :: BootJS}"></th:block>
  </body>
</html>
