<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="'8bit Manga - aggiungi nuovo comic'"></title>
    <!-- Blocco per stile bootsrap e css -->
    <th:block th:replace="~{ fragments/fragments :: Style}"></th:block>
  </head>
  <body>
    <header th:replace="~{ fragments/fragments :: header}"></header>
    <main class="text-center overflow-x-hidden">
      <h1 class="mt-5 mb-5">Aggiungi nuovo comic</h1>
      <div class="container">
        <form
          id="new-comic-form"
          th:action="@{/comics/create}"
          method="post"
          th:object="${comic}"
        >
          <!-- Input per Titolo -->
          <div class="mb-3">
            <label class="form-label" for="name">Titolo: </label>
            <input
              class="form-control mx-auto"
              type="text"
              id="title"
              th:field="*{title}"
              th:errorClass="is-invalid"
            />
            <!-- Aggiunta contestuale degli errori su ogni input aggiungendo th:errorClass all'input e in seguito un div con dentro
             l'errore contestualizzato -->
            <div
              class="invalid-feedback"
              th:if=" ${#fields.hasErrors('title')}"
            >
              <ul>
                <li
                  th:each=" err : ${#fields.errors('title')}"
                  th:text="${err}"
                ></li>
              </ul>
            </div>
          </div>

          <!-- Input per Autore -->
          <div class="mb-3">
            <label class="form-label" for="author">Autore: </label>
            <input
              class="form-control mx-auto"
              type="text"
              id="author"
              th:field="*{author}"
              th:errorClass="is-invalid"
            />
            <div
              class="invalid-feedback"
              th:if=" ${#fields.hasErrors('author')}"
            >
              <ul>
                <li
                  th:each=" err : ${#fields.errors('author')}"
                  th:text="${err}"
                ></li>
              </ul>
            </div>
          </div>

          <!-- Input per Le Categorie -->
          <div class="mb-3">
            <label class="form-label">Categorie:</label>
            <div class="d-flex flex-wrap justify-content-center">
              <div class="form-check mx-2" th:each="category : ${categories}">
                <input
                  class="form-check-input"
                  type="checkbox"
                  th:id="'category-' + ${category.id}"
                  th:value="${category.id}"
                  th:field="*{category}"
                />
                <label
                  class="form-check-label"
                  th:for="'category-' + ${category.id}"
                  th:text="${category.name}"
                ></label>
              </div>
            </div>
            <div
              class="invalid-feedback d-block"
              th:if="${#fields.hasErrors('category')}"
            >
              <ul>
                <li
                  th:each="err : ${#fields.errors('category')}"
                  th:text="${err}"
                ></li>
              </ul>
            </div>
          </div>

          <!-- Input per Descrizione -->
          <div class="mb-3">
            <label class="form-label" for="description">Descrizione: </label>
            <textarea
              class="form-control mx-auto"
              id="description"
              th:field="*{description}"
              th:errorClass="is-invalid"
            ></textarea>
            <div
              class="invalid-feedback"
              th:if=" ${#fields.hasErrors('description')}"
            >
              <ul>
                <li
                  th:each=" err : ${#fields.errors('description')}"
                  th:text="${err}"
                ></li>
              </ul>
            </div>
          </div>

          <!-- Input per Foto -->
          <div class="mb-3">
            <label class="form-label" for="imageUrl">Foto (url): </label>
            <input
              class="form-control mx-auto"
              type="text"
              id="imageUrl"
              th:field="*{imageUrl}"
              th:errorClass="is-invalid"
            />
            <div
              class="invalid-feedback"
              th:if=" ${#fields.hasErrors('imageUrl')}"
            >
              <ul>
                <li
                  th:each=" err : ${#fields.errors('imageUrl')}"
                  th:text="${err}"
                ></li>
              </ul>
            </div>
          </div>

          <!-- Input per Stock quantity -->
          <div class="mb-3">
            <label class="form-label" for="stockQuantity"
              >Quantità in stock:
            </label>
            <input
              class="form-control mx-auto"
              type="number"
              min="1"
              step="1"
              id="stockQuantity"
              th:field="*{stockQuantity}"
              th:errorClass="is-invalid"
            />
            <div
              class="invalid-feedback"
              th:if=" ${#fields.hasErrors('stockQuantity')}"
            >
              <ul>
                <li
                  th:each=" err : ${#fields.errors('stockQuantity')}"
                  th:text="${err}"
                ></li>
              </ul>
            </div>
          </div>

          <!-- Input per data di rilascio -->
          <div class="bmb-3">
            <label class="form-label" for="releaseDate"
              >Data di rilascio:</label
            >
            <input
              class="form-control mx-auto"
              type="date"
              id="releaseDate"
              th:field="*{releaseDate}"
              th:errorClass="is-invalid"
            />
            <div
              class="invalid-feedback"
              th:if=" ${#fields.hasErrors('releaseDate')}"
            >
              <ul>
                <li
                  th:each=" err : ${#fields.errors('releaseDate')}"
                  th:text="${err}"
                ></li>
              </ul>
            </div>
          </div>

          <!-- Input per Prezzo -->
          <div class="mb-3">
            <label class="form-label" for="price">Prezzo (€): </label>
            <input
              class="form-control mx-auto"
              type="number"
              min="0"
              step="0.01"
              id="price"
              th:field="*{price}"
              th:errorClass="is-invalid"
            />
            <div
              class="invalid-feedback"
              th:if=" ${#fields.hasErrors('price')}"
            >
              <ul>
                <li
                  th:each=" err : ${#fields.errors('price')}"
                  th:text="${err}"
                ></li>
              </ul>
            </div>
          </div>
          <div class="mb-3 d-flex justify-content-center">
            <input type="submit" class="btn btn-danger mx-3" value="Crea" />
            <input type="reset" class="btn btn-warning mx-3" value="Reset" />
          </div>
        </form>
      </div>
    </main>
    <footer></footer>
    <!-- Blocco per JS -->
    <th:block th:replace="~{ fragments/fragments :: BootJS}"></th:block>
  </body>
</html>
